<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Account</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <script src="/lib/htmx.min.js"></script>
    <%- include('./partials/icons') %>
  </head>
  <style></style>
  <body>
    <%- include('./partials/nav') %>
    <div class="container-fluid info-container p-3">
      <h2>Account Details</h2>
      <div class="mb-3" id="email-area">
        <form hx-post="/api/update_email" hx-target="#email-update-success">
          <fieldset>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="input-container">
              <label for="email">Edit Email</label>
              <input
                type="email"
                id="email"
                name="email"
                value="<%= user.email %>"
                required
              />
            </div>
            <br />
            <button type="submit">Save</button>
            <small class="success-message" id="email-update-success"></small>
          </fieldset>
        </form>
      </div>
      <div class="mb-3" id="username-area">
        <form
          hx-post="/api/update_username"
          hx-target="#username-update-success"
        >
          <fieldset>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <div class="input-container">
              <label for="username">Edit Username</label>
              <input
                type="username"
                id="username"
                name="username"
                value="<%= user.username %>"
                required
              />
            </div>
            <br />
            <button type="submit">Save</button>
            <small class="success-message" id="username-update-success"></small>
          </fieldset>
        </form>
      </div>
      <br />
      <br />
      <button class="btn-red" onclick="window.location.pathname = '/logout'">
        Logout
      </button>
      <hr />
      <h2>Subscriptions</h2>
      <small>-- Under Construction --</small>
    </div>
    <%- include('./partials/footer') %>
  </body>
  <script>
    // reset success messages
    document.body.addEventListener("htmx:afterOnLoad", function (event) {
      setTimeout(function () {
        const usernameUpdateMessage = document.querySelector(
          "#username-update-success"
        );
        if (usernameUpdateMessage) {
          usernameUpdateMessage.innerText = "";
        }
        const emailUpdateMessage = document.querySelector(
          "#email-update-success"
        );
        if (emailUpdateMessage) {
          emailUpdateMessage.innerText = "";
        }
      }, 3000); // 10seconds
    });

    // handle htmx:responseError event
    document.body.addEventListener("htmx:responseError", function (event) {
      // event.detail contains details about the htmx request
      var errorText = JSON.parse(event.detail.xhr.responseText).error.message; // get the response text
      window.alert(`Server Error: ${errorText}`);
    });
  </script>
</html>
