<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Dash</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('./partials/icons') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="d-flex h-100">
      <div class="d-flex flex-column flex-wrap p-3 w-50 h-100">
        <h2>Tables</h2>
        <small>Live virtual tables</small>
        <br />
        <a href="/new_table" title="Create a new virtual table">+ New Table</a>
        <hr />
        <% if (tables.length === 0) { %>
        <small class="ms-2">No tables yet...</small>
        <% } else { %> <% tables.forEach(function(table) { %>
        <div
          class="d-flex justify-content-between w-50 ms-2 dash-list-title-container"
        >
          <div class="dash-list-title mb-3"><%= table.title %></div>
          <a>↗</a>
        </div>
        <% }); %> <% } %>
      </div>
      <div class="d-flex flex-column flex-wrap d-wrap p-3 w-50 h-100">
        <h2>Player Character Sheets</h2>
        <small>We currently offer Dungeons and Dragons 5e sheets</small>
        <br />
        <a href="/new_sheet" title="Create a new player character sheet"
          >+ New Sheet</a
        >
        <hr />
        <h3>My Sheets</h3>
        <% if (sheets.length === 0) { %>
        <small class="ms-2">No sheets yet...</small>
        <% } else { %> <% sheets.forEach(function(sheet) { %>
        <div
          class="d-flex justify-content-between w-50 ms-2 dash-list-title-container"
          onclick="handleSheetClick('<%= sheet.id %>')"
        >
          <div class="dash-list-title mb-3"><%= sheet.name %></div>
          <a>↗</a>
        </div>
        <% }); %> <% } %>
        <br />
        <h3>Shared Sheets</h3>
        <% if (sharedSheets.length === 0) { %>
        <small class="ms-2">No sheets yet...</small>
        <% } else { %> <% sharedSheets.forEach(function(sheet) { %>
        <div
          class="d-flex justify-content-between w-50 ms-2 dash-list-title-container"
          onclick="handleSheetClick('<%= sheet.id %>')"
        >
          <div class="dash-list-title mb-3"><%= sheet.name %></div>
          <a>↗</a>
        </div>
        <% }); %> <% } %>
      </div>
    </div>
  </body>
  <script>
    function handleSheetClick(id) {
      window.open(`/5eplayer?id=${id}`, "_blank").focus();
    }
  </script>
</html>
