<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Wyrld Settings</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('./partials/icons') %>
  </head>
  <%- include('./partials/google') %>
  <body>
    <%- include('./partials/nav') %>
    <div class="container-fluid info-container p-3">
      <div>
        <h1>Wyrld Settings</h1>
        <small>Manage important settings for your wyrld.</small>
      </div>
      <h2 style="color: var(--green)"><%= project.title %></h2>
      <br />
      <button
        class="btn-red"
        onclick="removeProjectUser('<%= projectUserId %>')"
      >
        Leave Wyrld
      </button>
    </div>
    <%- include('./partials/footer') %>
    <script>
      async function removeProjectUser(id) {
        if (
          window.confirm("Are you sure you want to leave <%= project.title %>?")
        ) {
          await fetch(`/api/remove_project_user/${id}`, {
            method: "DELETE",
          });
          window.location.href = "/dash";
        }
      }
    </script>
  </body>
</html>
