<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D&D | 5e | SRD | Contents | Far Reach Co.</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/info.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('../../../partials/icons') %>
  </head>
  <%- include('../../../partials/google') %>
  <body>
    <%- include('../../../partials/nav') %>
    <div class="container-fluid p-3 info-container">
      <%- include('../../../partials/dnd/srdintro') %>
      <hr />
      <h2>Table of Contents</h2>
      <ul>
        <li><a href="/dnd/5e/srd/ability-scores">Ability Scores</a></li>
        <li><a href="/dnd/5e/srd/alignments">Alignments</a></li>
        <!-- <li><a href="/dnd/5e/srd/backgrounds">Backgrounds</a></li> -->
        <li><a href="/dnd/5e/srd/classes">Classes</a></li>
        <li><a href="/dnd/5e/srd/conditions">Conditions</a></li>
        <li><a href="/dnd/5e/srd/damage-types">Damage Types</a></li>
        <li><a href="/dnd/5e/srd/equipment">Equipment + Magic Items</a></li>
        <!-- <li><a href="/dnd/5e/srd/feats">Feats</a></li> -->
        <!-- <li><a href="/dnd/5e/srd/features">Features</a></li> -->
        <li><a href="/dnd/5e/srd/languages">Languages</a></li>
        <li><a href="">Monsters</a></li>
        - Coming soon!
        <li><a href="/dnd/5e/srd/races">Races</a></li>
        <li><a href="/dnd/5e/srd/skills">Skills</a></li>
        <li><a href="/dnd/5e/srd/spells">Spells</a></li>
        <li><a href="/dnd/5e/srd/weapon-properties">Weapon Properties</a></li>
      </ul>
    </div>
    <%- include('../../../partials/footer') %>
  </body>
</html>
