<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D&D | 5e | SRD | Races | Far Reach Co.</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/info.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('../../../partials/icons') %>
  </head>
  <%- include('../../../partials/google') %>
  <body>
    <%- include('../../../partials/nav') %>
    <div class="container-fluid p-3 info-container">
      <%- include('../../../partials/dnd/srdintro') %>
      <br />
      <div class="inline-div">
        <small>
          <a href="/dnd/5e/srd/contents">Contents</a> ->
          <div style="color: var(--green)">Races</div>
        </small>
      </div>
      <hr />
      <h2>Races</h2>
      <ul>
        <li>
          <a href="#dwarf">Dwarf</a>
        </li>
        <li>
          <a href="#elf">Elf</a>
        </li>
        <li>
          <a href="#halfling">Halfling</a>
        </li>
        <li>
          <a href="#human">Human</a>
        </li>
        <li>
          <a href="#dragonborn">Dragonborn</a>
        </li>
        <li>
          <a href="#gnome">Gnome</a>
        </li>
        <li>
          <a href="#half-elf">Half-Elf</a>
        </li>
        <li>
          <a href="#half-orc">Half-Orc</a>
        </li>
        <li>
          <a href="#tiefling">Tiefling</a>
        </li>
      </ul>
      <hr />
    </div>
    <%- include('../../../partials/footer') %>
  </body>
</html>
